.header-content {
  align-items: center;
  background: #fcdc36;
  box-sizing: border-box;
  display: flex;
  height: 52px;
  justify-content: space-between;
  padding: 0 16px;
  position: absolute;
  top: 0;
  width: 100vw;
}

.title-component {
  align-items: center;
  display: flex;
  height: 100%;
}

.title-component h1 {
  color: #5133c0;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.btn-search-header {
  background: #fcdc36;
  border: none;
}

.image-icons {
  display: flex;
  gap: 8px;
}
